{{> header }}
{{>  navbar }}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi, architecto porro, repudiandae
                ipsam laborum fugit voluptates facilis distinctio aspernatur accusantium doloremque sint ad ratione quos
                veniam illum aut voluptatem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi, architecto porro, repudiandae
                ipsam laborum fugit voluptates facilis distinctio aspernatur accusantium doloremque sint ad ratione quos
                veniam illum aut voluptatem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi, architecto porro, repudiandae
                ipsam laborum fugit voluptates facilis distinctio aspernatur accusantium doloremque sint ad ratione quos
                veniam illum aut voluptatem!</p>
        </div>
        <div class="col">
            <img class="img-thumbnail" src="assets/image/img_A_760406aa1b1f9d251c46946c57e95b8d5bfd20.jpg" width="320px"
                alt="No cargo la imagen">
        </div>
    </div>
</div>

{{> footer }}